@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', monospace, sans-serif;
  }





/* hero */

.hero {
    margin: 0 0;
    width: auto;
    height: 400px;
    display: flex;
    overflow: hidden;
    justify-content:center;
    text-align: center;
}


.hero .gambar {
    margin:0 0;
    width: auto;
    position: relative;
}

.hero .gambar img {
    margin: 0 auto;
    width: 100%;
}

.hero .tag {
    border-radius: 50%;
    margin: 0 auto;
    width: 200px;
    height: 190px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 200px;
    display: flex;
    justify-content: center;
    
}
.hero .tag h1 {
    margin: 20px 0;
    font-size: medium;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 8px;
}

.hero .tag a {
    margin: 0 0;
    position:absolute;
    justify-content: center;
    top: 56px;
}

.hero .tag a img {
    width: 110px;
}

/* content */

.content {
    margin: 50px 0;
    width: auto;
    display: flex;
    position: relative;
}

.content .image {
    margin: 0 0;
}

.content .image img {
    -webkit-mask-image: linear-gradient(90deg, rgb(0, 0, 0), transparent);
    mask-image: linear-gradient(90deg, rgb(0, 0, 0), transparent);
    width: 500px;
    height: 300;
    
}

.content .description {
    margin: 0 0;
    width: 500px;
    text-align: left;
    position: absolute;
    right: 500px;
    top: 85px;
    text-shadow:0 0 1px  rgb(39, 39, 39); 
}

/* content-2 */

.content-2 {
    margin: 100px auto;
    width: 100%;
}


.content-2 .title {
    margin: 50px auto;
    text-align: center;
}

.content-2 .access {
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}

.content-2 .access p,h4 {
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
}


/* content-3 */

.content-3  {
    display: flex;
    margin: 50px auto;
    width: 1200px;
    justify-content: space-evenly;
   
}

.def {
    max-width: 250px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px  rgb(148, 147, 147);
    transition: 0.2s;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.def:hover {
    transform: scale(1.1);
    border-radius: 30px;
    box-shadow: 0 0 20px rgb(88, 88, 88);  
    background-color: rgb(255, 255, 255)
}

.content-3  .def img {
    width: 230px;
    height: 215px;
    margin: 20px auto;
    border-radius: 30px;
  
}

.content-3  .def {
    text-align: center;
    margin: 20px auto;
}

.content-3  .def h3, p {
    margin: 5px 15px;
}

/* content-4 */

.content-4{
    margin: 50px auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.content-4 .logo img {
    width: 250px;
}

.content-4 .link {
    margin: 50px auto;
    width: 900px;
    
}

.content-4 .link .temp {
    display: flex;
    margin: 10px auto;
    align-items: center;
}

.content-4 .link .temp img {
    width: 40px;
    border-radius: 50%;
}

.content-4 a {
    text-decoration: none;
    color: #ff7070;
}


/* responsive */

@media(max-width: 500px){
    /* hero */
    .hero{
        margin: -10px -10;
        width: auto;
        height: 330px;
        display: flex;
        position: relative;
    }
    
    .hero .gambar {
        margin:0 0;
        width: auto;
        height: auto;
        position: absolute;
        }    

        .hero .gambar img {
            margin: 0 auto;
            width: 500px;
        }

        .hero .tag {
        display:flex;
        width: 100px;
        height: 100px;
        top:120px;
        }

        .hero .tag h1 {
            display: flex;
            justify-content: center;
            top: 150px;
        }

        .hero .tag a { 
            top: 6px;
        }

        .hero .tag a img {
            width: 85px;
        }

        /* content */
        .content {
            margin: 0 auto;
            display: flex;
            width: 100%;
        }

        .content .image img {
            width: 100%;
            -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
        }

        .content .description {
            margin: 0 auto;
            right: 1px;
            top: 100px;
            display: block;
            text-align: center;
            width: auto;
            text-shadow:0 0 1px  rgb(39, 39, 39); 
        }

        /* content-2 */

        .content-2 {
            margin: 80px auto;
            width: 100%;
        }
        
        
        .content-2 .title {
            margin: 50px auto;
            text-align: center;
        }
        
        .content-2 .access {
            margin: 50px auto;
            display: block;
        }
        
        .content-2 .access p,h4 {
            margin: 15px auto;
            max-width: 300px;
            text-align: center;
        }

       

        /* content-3*/

        .content-3  {
            margin: 100px auto;
            width: auto;
            display: block;
            
        }   
        
        .def {
            max-width: 350px;
            height: 380px;
            border-radius: 10px;
            box-shadow: 1px 1px 5px  rgb(148, 147, 147);
            transition: none;
            background-color: rgb(255, 255, 255);
            position: relative;
        }

        .def:hover {
            transform: none;
            border-radius: none;
            box-shadow: none;
            background-color: none;
        }  

        .content-3  .def img {
            width: 300px;
            height: 230px;
            margin: 20px auto;
            border-radius: 10px;
        }
        
        /* content-4*/

        .content-4{
            display: block;
            text-align: center;
            background-color: aquamarine;
        }

        .content-4.link {
            margin: 20px auto;
            background-color: #fff;
              
        }

        .content-4.link .temp {
            margin: 0 auto;
            width: 100%;       
        }

        .content-4.link .temp p {
            width: 20px;
            background-color: blanchedalmond;
        }
    }