@media (max-width: 640px) {
  .container {
    width: 350px;
    margin: 0 auto;
  }

  .product {
    padding: 0;
    height: 650px;
  }

  .product-img {
    margin: 0 auto;
    width: 290px;
  }

  .product-img img {
    width: 280px;
  }

  .product-desc {
    float: none;
    margin: 0 auto;
    width: 290px;
  }

  .product-desc p {
    font-size: 16px;
  }

  .product-desc span {
    font-size: 20px;
  }

  footer {
    height: 285px;
  }

  .footer-logo img {
    width: 150px;
  }

  .footer-list li {
    font-size: 18px;
  }

  .footer-left {
    margin-top: 30px;
  }

  .footer-right {
    margin-top: 10px;
  }
}
