@media (max-width: 640px) {
  .container {
    width: 350px;
    margin: 0 auto;
  }

  .product {
    padding: 0;
    height: 650px;
  }

  .product-img {
    margin: 0 auto;
    width: 290px;
  }

  .product-img img {
    width: 280px;
  }

  .product-desc {
    float: none;
    margin: 0 auto;
    width: 290px;
  }

  .product-desc p {
    font-size: 16px;
  }

  .product-desc span {
    font-size: 20px;
  }

  footer {
    text-align: center;
    height: auto;
    display: block;
  }

  .footer-left,
  .footer-right {
    text-align: center;
    float: none;
    display: block;
    margin-top: 30px;
  }

  .footer-right ul {
    margin-right: 35px;
    text-align: center;
  }
}
