@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', monospace, sans-serif;
  color: #F5756B;
}

.container {
  width: 1107px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-bar {
  background-color: #F5756B;
  padding: 15px;
  overflow: hidden;
  top: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px gray;
}

.nav-bar span{
  float: left;
}

.nav-bar a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
  padding: 0 5px 0 5px;
}

.product {
  padding: 50px;
  text-align: center;
}

.product-img {
  float: left;
  width: 350px;
  text-align: center;
}

.product-img img {
  width: 450px;
  border-radius: 20px;
}

.product-img p {
  background-color: #F5756B;
  border-radius: 50px;
  padding: 10px;
  color: white;
  margin-left: 120px;
  font-size: 20px;
}

.product-desc {
  margin-left: 70px;
  display: inline-block;
  width: 370px;
  margin-top: -10px;
}

.product-desc h2 {
  text-align: center;
  font-size: 38px;
}

.product-desc p {
  font-size: 20px;
  text-align: justify;
}

.product-desc span {
  font-size: 23px;
  margin-left: 20px;
}
