@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Poppins:wght@200&display=swap%27');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', monospace, sans-serif;
  color: #F5756B;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  padding: 20px;
}

.nav-bar {
  background-color: #ff7070;
  padding: 15px;
  overflow: hidden;
  top: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(54, 54, 54, 0.333);
  line-height: 25px;
}

.nav-bar span{
  float: left;
}

.nav-bar span a {
  color: whitesmoke;
  font-size: 25px;
}

.nav-bar a {
  float: right;
  color: rgba(245, 245, 245, 0.699);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
  padding: 0 5px 0 5px;
  transition: 0.5s;
}

.nav-bar a:hover {
  color: white;
}

.product {
  padding: 50px;
  text-align: center;
}

.product-img {
  float: left;
  width: 450px;
  text-align: center;
  margin-left: 100px;
}

.product-img img {
  width: 420px;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(54, 54, 54, 0.333);
}

.product-img p {
  background-color: #F5756B;
  border-radius: 50px;
  padding: 10px;
  width: 250px;
  color: white;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 10px;
}

.product-desc {
  float: right;
  display: inline-block;
  width: 370px;
  margin-top: -10px;
  margin-right: 120px;
}

.product-desc h2 {
  text-align: center;
  font-size: 32px;
}

.product-desc p {
  font-size: 18px;
  text-align: justify;
}

.product-desc span {
  font-size: 23px;
  margin-left: 20px;
}
