@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', monospace, sans-serif;
  color: #F5756B;
}

.container {
  width: 1107px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-bar {
  background-color: #F5756B;
  padding: 15px;
  overflow: hidden;
  top: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px gray;
}

.nav-bar span{
  float: left;
}

.nav-bar a {
  float: right;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
  padding: 0 5px 0 5px;
}

.content {
  margin-top: 30px;
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  margin-top: 40px;
}

.product {
  display: inline-block;
  margin: 20px 30px 20px 30px;
}

.product img {
  width: 350px;
  border-radius: 20px;
}

.product p {
  font-size: 24px;
}
